@model DierentuinGroep6.Models.Animal

<h1>Nieuw Dier Toevoegen</h1>

<form method="post">
    <label for="name">Naam:</label>
    <input type="text" id="name" name="Name" required />

    <label for="species">Soort:</label>
    <input type="text" id="species" name="Species" required />

    <label for="size">Grootte:</label>
    <select id="size" name="Size">
        <option value="Microscopic">Microscopisch</option>
        <option value="VerySmall">Zeer Klein</option>
        <option value="Small">Klein</option>
        <option value="Medium">Middel</option>
        <option value="Large">Groot</option>
        <option value="VeryLarge">Zeer Groot</option>
    </select>

    <button type="submit">Opslaan</button>
</form>
